# Environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Database (Keep your local data local)
db.sqlite3

# Media & Static
media/
static/
staticfiles/
# IDEs
.vscode/
.idea/
test_smtp.py