{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - TJ Naturals{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4 text-success">Welcome Back</h2>
                    
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">
                                <i class="bi bi-box-arrow-in-right"></i> Login
                            </button>
                        </div>
                    </form>
                    
                    <hr class="my-4">
                    
                    <div class="text-center">
                        <p class="mb-2">Don't have an account?</p>
                        <a href="{% url 'accounts:register' %}" class="btn btn-outline-success">
                            Create Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}